# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.OpenShl.iml
# Datasource local storage ignored files
/../../../../../../:\code\open-shl\.idea\.idea.OpenShl\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
